<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>错误收集demo</title>
</head>
<body>
    <h1>错误收集demo</h1>
    <ul>
        <li>产生一个同步错误<button id="syncError">产生一个同步错误</button></li>
        <li>产生一个异步错误<button id="asyncError">产生一个异步错误</button></li>
        <li>产生一个资源错误<button id="sourceError">产生一个资源错误</button></li>
        <li>产生一个Promise错误<button id="promiseError">产生一个Promise错误</button></li>
    </ul>
</body>
<script src="/public/util.js"></script>
<script>
    // 同步错误
    let syncError = document.querySelector('#syncError');
    syncError.onclick = () => {
        error
    };

    // 异步错误
    let asyncError = document.querySelector('#asyncError');
    asyncError.onclick = () => {
        setTimeout(() => {
            error
        }, 1000);
    };

    // 资源错误
    let sourceError = document.querySelector('#sourceError');
    sourceError.onclick = () => {
        let body = document.body;
        let img = document.createElement('img');
        img.src = './404.jpg';
        body.appendChild(img);
    };

    // promise错误
    let promiseError = document.querySelector('#promiseError');
    promiseError.onclick = () => {
        Promise.reject('promisec错误')
    };
</script>
</html>